#http-loader {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
}

.loader-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(246, 247, 251, .6)
}

.loader {
    position: absolute;
    border: 16px solid #E8E5E5;
    border-top: 16px solid #37af6b;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    left: 50%;
    top: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
